@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
    --color-primary: #e0e1dd;
    --color-secondary: #d90429;
    --color-terciary: #0d1b2a;
    --color-accent-primary: #6a994e;
    --color-accent-secondary: #f7b801;
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Lora", serif;
    --font-size-extra-large: 26px;
    --font-size-large: 20px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Uso Individual */
.fnt-main {
    font-family: var(--font-primary);
}
.fnt-secondary {
    font-family: var(--font-secondary);
}
.fnt-xl {
    font-size: var(--font-size-extra-large);
}
.fnt-l {
    font-size: var(--font-size-large);
}
.fnt-m {
    font-size: var(--font-size-medium);
}
.fnt-s {
    font-size: var(--font-size-small);
}
.bkg-primary {
    background-color: var(--color-primary);
}
.bkg-secondary {
    background-color: var(--color-secondary);
}
.bkg-terciary {
    background-color: var(--color-terciary);
}
.bkg-acc-primary {
    background-color: var(--color-accent-primary);
}
.bkg-acc-secondary {
    background-color: var(--color-accent-secondary);
}
.cl-primary {
    color: var(--color-primary);
}
.cl-secondary {
    color: var(--color-secondary);
}
.cl-terciary {
    color: var(--color-terciary);
}
.cl-acc-primary {
    color: var(--color-accent-primary);
}
.cl-acc-secondary {
    color: var(--color-accent-secondary);
}

/* Componentes*/
header {
    height: 50px;
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

footer {
    padding: 1em 0;
}

footer > ul {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer a {
    font-size: var(--font-size-small);
    color: var(--color-terciary);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}
body > main {
    flex-grow: 1;
}

.main-container {
    max-width: 1600px;
    padding: 2em 5%;
    margin: 0 auto;
}

/* Links */
a.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

/* Header */
nav a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--font-size-medium);
}

nav {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#profile-link-container {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#profile-icon,
.search-icon {
    cursor: pointer;
}

.search-container {
    display: flex;
    gap: 0.5em;
    flex-basis: 0;
    flex-grow: 1;
}
.input-container {
    position: absolute;
    top: 100%;
    left: 0;
}
.icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

#search-bar {
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0.2em;
    display: flex;
    border-radius: 0.5em;
    background-color: white;
    border: 1px solid var(--color-secondary);
    z-index: 98;
}
#search-bar > input {
    flex-basis: 0;
    flex-grow: 2;
}
#search-bar > button {
    flex-basis: 0;
    flex-grow: 1;
}
#search-bar.hidden {
    display: none;
}

#profile-menu {
    top: 50px;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    background-color: white;
    border: 1px solid var(--color-secondary);
    list-style-type: none;
    z-index: 99;
}
#profile-menu.hidden {
    display: none;
}
#profile-menu a {
    color: var(--color-terciary);
    text-decoration: none;
}
#profile-menu a:hover {
    text-decoration: underline;
}

/* Pagina Inicial - Cartas*/
.my-card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px var(--color-primary) solid;
    border-width: 2px;
    padding: 0.5em;
    border-radius: 0.5em;
}
.my-card-img {
    max-width: 100%;
    border-radius: 0.5em;
}
.my-card-sub {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2.5em 2.5em;
    align-items: center;
    max-height: 100px;
}
.my-card-title,
.my-card-value,
.my-card-timer {
    margin: 0;
}

.my-card-timer {
    text-align: center;
}
.my-card-title,
.my-card-value {
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size-large);
}
.my-card-bid-btn {
    font-family: var(--font-primary);
    background-color: var(--color-terciary);
    color: var(--color-primary);
    font-size: var(--font-size-medium);
}
.card-container {
    display: grid;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

/* Bundle Icon */
.my-card.card-bundle::after {
    content: "Vários Itens";
    position: absolute;
    top: 5%;
    right: 0;
    width: fit-content;
    padding: 0.2em 0.8em;
    background-color: red;
    color: white;
    border-radius: 0.5em 0em 0em 0.5em;
    font-size: var(--font-size-small);
    font-weight: bold;
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-terciary);
    border-left: 2px solid var(--color-terciary);
}

/*Pagina Inicial - Modal*/
#login-modal-body {
    gap: 0.5em;
}
#login-modal-body > a:last-child {
    font-size: var(--font-size-small);
    color: var(--color-terciary);
    text-decoration: none;
    text-align: center;
}
#login-modal-body > a:last-child:hover {
    text-decoration: underline;
    cursor: pointer;
}

#register-acc-modal-body {
    gap: 1em;
}
#register-acc-modal-body > .modal-btn-container {
    flex-direction: column;
}

/* Página Verificações */
#vt-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4em;
}
.vt {
    flex-grow: 1;
    flex-basis: 0;
    font-size: var(--font-size-small);
}
.vt > .vt-item:nth-child(even) {
    background-color: var(--color-primary);
}
.vt > .vt-item:not(:first-child):nth-child(odd) {
    background-color: white;
}

.vt-title {
    padding: 0.5em;
    margin: 0;
    background-color: var(--color-terciary);
    color: var(--color-primary);
}
.vt-item {
    display: flex;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
}
/*
.vt-item > img {
}
*/
.vt-item p {
    padding: 0;
    margin: 0;
}
.vt-item p:first-of-type {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Pagina Verificações - Modal Geral*/
.my-modal-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 0;
    font-family: var(--font-primary);
}

.modal-top-bar {
    padding: 0.5em 0.5em 0 0.5em;
}
.modal-top-bar > button {
    float: right;
}

.toggle-pill {
    border: none;
}
.toggle-pill:checked {
    background-color: var(--color-terciary);
}

.modal-btn-container {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-top: 0.5em;
}
.modal-btn-container button {
    font-size: var(--font-size-small);
}

/* Pagina Verificações - Modal Leilão*/
#modal-al-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
}
#modal-al-header > p {
    margin: 0;
    font-size: var(--font-size-medium);
}
#modal-al-header > p:last-child {
    font-size: var(--font-size-small);
}
.modal-auction-item {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    align-items: center;
    gap: 0.5em;
}
.modal-auction-item:not(:first-child):not(:last-child):nth-child(even) {
    background-color: var(--color-primary);
}
.modal-auction-item > p {
    flex-grow: 1;
    margin: 0;
}

/* Pagina Verificações - Modal Artigo */
#modal-auction-item-details {
    align-items: center;
}
#modal-auction-item-details > p {
    margin: 0;
    font-size: var(--font-size-medium);
}
#modal-auction-item-details > img {
    min-width: 90px;
    max-width: 40%;
}

/* Pagina Verificações - Modal Vendedor */
.modal-seller-item {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--color-terciary);
    font-size: var(--font-size-medium);
    padding: 0.3em 0.5em;
}
.modal-seller-item:nth-child(odd) {
    background-color: var(--color-primary);
}

.modal-seller-item p {
    margin: 0;
    word-wrap: break-word;
}
.modal-seller-item p:first-child {
    font-size: var(--font-size-small);
    font-style: italic;
}

/*Sidebar*/
.sidebar-container {
    background-color: var(--color-terciary);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-family: var(--font-primary);
    font-size: var(--font-size-small);
    border-radius: 0.5em;
    padding: 1em 1.5em;
    max-width: 200px;
}
.sidebar-item {
    text-decoration: none;
    color: var(--color-primary);
}
.sidebar-item:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Pagina Perfil de Dados*/
#profile-main-container {
    display: flex;
    gap: 2em;
}
#profile {
    flex-grow: 1;
    max-width: 800px;
}
#profile > h2 {
    border-bottom: 2px solid var(--color-terciary);
}

#profile-data {
    display: flex;
    flex-direction: column;
}
#profile-data input,
#profile-data button {
    font-size: var(--font-size-small);
}

#profile-data > div {
    margin-bottom: 1.5em;
}

#roles-container > div:nth-child(even) {
    background-color: var(--color-primary);
}

.role-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2em 0.4em;
    gap: 1em;
}
.role-item > p {
    width: max-content;
    margin: 0;
}
.btn-request-role {
    width: fit-content;
    border-radius: 0.5em;
    color: var(--color-terciary);
    padding: 0.4em 0.8em;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: var(--font-size-small);
    border: 1px var(--color-terciary) solid;
}
.btn-request-role:hover {
    opacity: 0.9;
}

.btn-request-standard {
    background-color: var(--color-primary);
}
.btn-request-await {
    background-color: var(--color-accent-secondary);
}
.btn-request-accepted {
    background-color: var(--color-accent-primary);
}
.btn-request-refused {
    background-color: var(--color-secondary);
}

/* Pagina Histórico */
.history-section {
    font-family: var(--font-primary);
}
.history-section-title {
    font-size: var(--font-size-extra-large);
    margin-bottom: 0.5em;
}
#history-main-container {
    display: flex;
    gap: 2em;
}
#history-main-container > section {
    flex-grow: 1;
}

.history-table {
    width: 100%;
    caption-side: top;
    border-collapse: collapse;
    border: none;
    font-size: var(--font-size-small);
}
.history-table > caption {
    font-size: var(--font-size-extra-large);
    color: var(--color-terciary);
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.history-table td,
.history-table th {
    font-weight: normal;
    border: 0px;
}
.history-table tr:not(:first-child):nth-child(even) {
    background-color: var(--color-primary);
}
.history-table tr:first-child {
    background-color: var(--color-terciary);
    color: var(--color-primary);
}
/*table image column*/
.history-table tr td:first-child,
.history-table tr th:first-child {
    width: 8%;
    padding: 0.5em;
}
/*table name column*/
.history-table tr td:nth-child(2),
.history-table tr th:nth-child(2) {
    padding: 0.5em;
}
/*table price column*/
.history-table tr td:nth-child(3),
.history-table tr th:nth-child(3) {
    width: 10%;
    padding: 0.5em;
}
/*table date column*/
.history-table tr td:nth-child(4),
.history-table tr th:nth-child(4) {
    width: 120px;
    padding: 0.5em;
}
/*table file column*/
.history-table tr td:nth-child(5),
.history-table tr th:nth-child(5) {
    width: 8%;
    text-align: center;
    padding: 0.5em;
}
/*table header row*/
.history-table tr th {
    text-align: center;
}
/*table data & price columns (except headers)*/
.history-table tr td:nth-last-child(2),
.history-table tr td:nth-last-child(3) {
    text-align: center;
}

/* Pagina Carteira*/
#wallet-main-container {
    display: flex;
    gap: 2em;
}
#wallet-main-container > section {
    flex-grow: 1;
    font-family: var(--font-primary);
}

#add-credit-card {
    max-width: 600px;
}

/* Pagina Leilao */
.auction-main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 0.5em;
}

.auction-prev-container {
    align-self: stretch;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 500px;
}
.auction-prev-item {
    display: flex;
    padding: 0.2em;
    gap: 0.5em;
    align-items: center;
    background-color: white;
}
.auction-prev-item.current {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.auction-prev-item.past {
    color: var(--color-primary);
    background-color: var(--color-terciary);
}
.auction-prev-item > p {
    margin: 0;
    font-size: var(--font-size-small);
}

.auction {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
.auction-info-container {
    background-color: var(--color-primary);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em;
}
.auction-info-container * {
    margin: 0;
}
.auction-info-container > p {
    flex-grow: 1;
    font-size: var(--font-size-small);
}
.auction-info-container > h1 {
    font-size: var(--font-size-extra-large);
}
.auction-info-container > h4 {
    font-size: var(--font-size-medium);
}

.auction-info-container > div:first-of-type > p {
    display: inline;
}

.auction-info-container > div:first-of-type > div {
    float: right;
}

.auction-bid-container {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}
.auction-bid-container * {
    font-size: var(--font-size-extra-large);
}
.auction-form-container {
    display: flex;
    gap: 0.5em;
}
.auction-form-container > input {
    flex-basis: 0;
    flex-grow: 2;
    font-size: var(--font-size-small);
}
.auction-form-container > button {
    flex-basis: 0;
    flex-grow: 1;
    font-size: var(--font-size-small);
}

/* Criar Leilão*/
#ca-main-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#table-section-heading {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}
#table-section-heading > input {
    flex-basis: 0;
    flex-grow: 3;
    max-width: 500px;
}
#table-section-heading > button {
    flex-basis: 0;
    flex-grow: 1;
    font-size: var(--font-size-small);
    max-width: fit-content;
}

.icon-delete-item {
    cursor:pointer;
}

#ca-main-container > table {
    margin: 0;
}

#ca-options {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}
#ca-options > p {
    margin: 0;
    width: fit-content;
}
#ca-options > div:nth-child(2) {
    margin: 0;
}
#ca-options > div:nth-child(3) {
    max-width: 100%;
    grid-column: 1 / -1;
}

#ca-main-container > div:last-child {
    margin: 0;
}

#article-img-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    row-gap: 0;
    column-gap: 0.5em;
}
#article-img-container img:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
}

#article-img-container img:not(:first-child) {
    width: 48px;
    height: 48px;
}

/*Utilidades*/
.hidden {
    display: none;
}

/* Media Queries */
@media (max-width: 900px) {
    header > nav {
        font-size: var(--font-size-small);
    }
    /*Footer*/
    footer > ul {
        flex-direction: column;
        align-items: center;
    }

    /*Card Container*/
    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    /*Verificações*/
    #vt-container {
        flex-direction: column;
    }

    /*Historico*/
    #history-main-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    /*Sidebar*/
    .sidebar-container {
        max-width: none;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-around;
        padding: 0.5em 1em;
    }
    /*Tables*/
    .history-table tr td:last-child,
    .history-table tr th:last-child {
        display: none;
    }

    /*Carteira*/
    #wallet-main-container {
        flex-direction: column;
        gap: 1em;
    }
    #add-credit-card {
        max-width: 100%;
    }

    /*Perfil*/
    #profile-main-container {
        flex-direction: column;
        gap: 1em;
    }

    /*Leilao*/
    .auction-main-container {
        display: flex;
        flex-direction: column;
    }
    .auction-prev-container {
        flex-direction: row;
        justify-content: flex-start;
    }
    .auction-prev-item {
        padding: 0.2em;
    }
    .auction-prev-item > p {
        display: none;
    }
}

@media (max-width: 500px) {
    .my-card {
        gap: 0.2em;
        padding: 0.2em;
    }
    .my-card-sub {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-height: fit-content;
    }
    .my-card-title,
    .my-card-timer,
    .my-card-bid-btn,
    .my-card-value {
        font-size: var(--font-size-small);
    }
    .my-card-timer {
        text-align: start;
    }
    .card-container {
        width: 100%;
        gap: 0.5em;
    }

    #seller-vt > .vt-item:not(:first-child) > p:last-of-type {
        display: none;
    }

    #modal-al-header > p {
        font-size: var(--font-size-small);
    }

    .modal-seller-item p {
        font-size: var(--font-size-small);
    }

    .sidebar-container {
        flex-direction: column;
    }
    .sidebar-item {
        white-space: nowrap;
    }

    .history-table tr td:nth-child(3),
    .history-table tr th:nth-child(3) {
        display: none;
    }
    .history-table caption {
        font-size: var(--font-size-large);
    }

    #wallet-main-container td {
        font-size: var(--font-size-small);
    }

    .auction-prev-item {
        padding: 0.2em;
    }

    .auction-info-container > h1 {
        font-size: var(--font-size-medium);
    }
    .auction-info-container > h4 {
        font-size: var(--font-size-small);
    }
    .auction-info-container > p {
        display: none;
    }
    .auction-bid-container {
        flex-grow: 1;
    }
    .auction-bid-container > * {
        font-size: var(--font-size-medium);
    }
    .auction-form-container {
        justify-self: flex-end;
    }

    .auction {
        flex-direction: column;
    }

    #table-section-heading {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5em;
    }

    #article-img-container {
        flex-direction: column;
    }

    #profile-link-container > p {
        font-size: var(--font-size-small);
    }
}
input:required:invalid {
    border-color: red;
}
select:required:invalid {
    border-color: red;
}

